@import '~src/styles/shared';

$mat-dialog-padding: 24px;
$image-side-padding: 36px - $large-grid-gap;
$max-image-size: 152px;
$min-container-height: 272px;
$goods-link-line-height: 16px;

:host {
  @extend %grow-column;
  min-height: $min-container-height;
  padding: $medium-grid-gap;
}

.sc-dialog-title {
  margin: (-$mat-dialog-padding) (-$mat-dialog-padding) 0;
  border-bottom: $border-size solid $border-color;
  padding: $large-grid-gap;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mat-dialog-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}

.goods-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: ($medium-grid-gap + $small-grid-gap) $large-grid-gap;
  border: $border-size solid $border-color;
}

.goods-image-wrapper {
  padding: $medium-grid-gap $image-side-padding;
}

.goods-image {
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.goods-link-wrapper {
  display: flex;
  flex-grow: 1;
  padding: $medium-grid-gap 0;
}

.product-info-wrapper {
  margin: $medium-grid-gap 0;
}

.goods-link {
  font-size: 16px;
  line-height: $goods-link-line-height;
}

.goods-image-link {
  display: flex;
  max-width: $max-image-size;
  margin: 0 auto;
}

.product-buy-button {
  width: 100%;
}
