<div class="sc-dialog-title">
  <h3 mat-dialog-title>
    {{ product.name }}
  </h3>

  <button mat-icon-button [mat-dialog-close]="null">
    <mat-icon [svgIcon]="'close'"></mat-icon>
  </button>
</div>

<mat-dialog-content class="goods-dialog-content">
  <div class="goods-container">
    <div class="goods-image-wrapper">
      <div class="goods-image-link">
        <div class="goods-image" [style.background-image]="safeImageUrl"></div>
      </div>
    </div>

    <div class="goods-link-wrapper flex-column">
      <div class="product-info-wrapper flex-row text-bold">
        <div class="goods-header">
          {{ product.name }}
        </div>

        <div class="filler"></div>

        <div class="goods-header">{{ product.price }} $</div>
      </div>

      <div class="flex-row text-bold">
        <div class="goods-desc">
          {{ product.shortDesc }}
        </div>

        <div class="filler"></div>

        <div class="goods-desc">{{ product.rate }} / 5</div>
      </div>
    </div>

    <div class="goods-descriptions">
      {{ product.descriptions }}
    </div>
  </div>

  <div class="goods-reviews-container">
    <sc-product-review-list
      [reviews]="product.reviews"
    ></sc-product-review-list>
  </div>
</mat-dialog-content>

<ng-container *ngIf="itemInCart$ | async as itemInCart">
  <mat-dialog-actions>
    <button
      class="product-buy-button"
      mat-flat-button
      [disabled]="!!itemInCart.length"
      [color]="'primary'"
      (click)="onSelect(product)"
    >
      {{ itemInCart.length ? 'Added to Cart' : 'Buy now' }}
    </button>
  </mat-dialog-actions>
</ng-container>
