<sc-toolbar class="toolbar">
  <h4 class="toolbar-title">
    Products
  </h4>

  <div class="filler"></div>

  <mat-paginator
    [pageSizeOptions]="[10, 50, 100]"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="totalProducts"
    (page)="onPageChanged($event)"
  ></mat-paginator>
</sc-toolbar>

<div class="flex-column goods-page-wrapper">
  <div class="product-filters-wrapper">
    <sc-product-filters
      (valueChanged)="onFilterValueChanged($event)"
    ></sc-product-filters>
  </div>

  <div class="flex-column">
    <ng-container *ngIf="products$ | async as product; else noData">
      <sc-product-list [products]="product"></sc-product-list>
    </ng-container>

    <ng-template #noData>
      <p class="text-capitalize text-center">
        <ng-container *ngIf="loadingError; then loadedError; else loading">
        </ng-container>

        <ng-template #loadedError>
          відбулась помилка при завантаженні товарів
        </ng-template>

        <ng-template #loading>
          йде завантаження
        </ng-template>
      </p>
    </ng-template>
  </div>
</div>
