@import '~src/styles/shared';

:host {
  @extend %grow-column;
}

.goods-page-wrapper {
  height: 0;
  padding: $medium-grid-gap;
  overflow: auto;
  flex-direction: row;
}

.product-filters-wrapper {
  background-color: white;
  border: $border-size solid $border-color;
  margin: $medium-grid-gap;
}
