@import '~src/styles/shared';

$goods-link-line-height: 16px;

:host {
  @extend %grow-column;
}

.review-item-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.product-info-wrapper {
  padding: 8px 12px;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.user-comment {
  font-style: italic;
}

.user-info {
  font-weight: 600;
}

.goods-link {
  font-size: 16px;
  line-height: $goods-link-line-height;
}
