<sc-toolbar class="toolbar">
  <h4 class="toolbar-title">
    Cart
  </h4>

  <div class="filler"></div>
</sc-toolbar>

<div class="flex-column goods-page-wrapper">
  <ng-container *ngIf="products$ | async as product; else noData">
    <sc-cart-list
      [products]="product"
      (removed)="onRemove($event)"
    ></sc-cart-list>
  </ng-container>

  <ng-template #noData>
    <p class="text-capitalize text-center">
      <ng-container *ngIf="loadingError; then loadedError; else loading">
      </ng-container>

      <ng-template #loadedError>
        Error on product loading
      </ng-template>

      <ng-template #loading>
        Loading...
      </ng-template>
    </p>
  </ng-template>
</div>
