@import '~src/styles/shared';

$max-container-width: 272px;

:host {
  @extend %grow-column;
}

.filter-wrapper {
  max-width: $max-container-width;
  height: 100%;
  flex: 1 0 auto;
  padding: $medium-grid-gap $large-grid-gap;
}

.filter-form-field {
  width: 85%;
}
