@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'styles/shared';
@import 'styles/helpers';

html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-family: $default-font-family-name;
  overflow: hidden;
}
