@import '~src/styles/shared';

$image-side-padding: 36px - $large-grid-gap;
$max-image-size: 152px;
$max-container-height: 272px;
$goods-link-line-height: 16px;

:host {
  @extend %grow-column;
  max-height: $max-container-height;
  padding: $medium-grid-gap;
}

.goods-image-wrapper {
  width: 100%;
  max-width: $max-image-size;
  padding: $medium-grid-gap $image-side-padding;
}

.goods-image {
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-item-wrapper {
  display: flex;
  background-color: white;
  border: $border-size solid $border-color;
}

.goods-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: ($medium-grid-gap + $small-grid-gap) $large-grid-gap;
  border: $border-size solid $border-color;
  background-color: white;
}

.goods-wrapper {
  display: flex;
  flex-grow: 1;
  padding: $medium-grid-gap $large-grid-gap;
}

.product-info-wrapper {
  margin: $medium-grid-gap 0;
}

.description {
  font-size: 16px;
  line-height: $goods-link-line-height;
}

.product-info {
  font-size: 18px;
}

.goods-image-link {
  display: flex;
  max-width: $max-image-size;
  margin: 0 auto;
}

.goods-button {
  width: 100%;
  margin-top: $medium-grid-gap;
}

.delete-button-wrapper {
  flex: 0 0 auto;
  align-items: center;
  padding: $small-grid-gap ($small-grid-gap + $medium-grid-gap);
}
